body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background-color: #b2ceff;
    padding: 10px;
}
    
    /* Style the header */
header {
  font-family: 'Roboto Slab', sans-serif;
  padding: 5px;
  text-align: center;
  font-size: 350%;
  color: white;
}

.topnav {
  font-family: 'Roboto';
  text-align: center;
  color: white;
  padding-bottom: 5%;

}
    
    /* Style the content */
section {
  -webkit-flex: 3;
  -ms-flex: 3;
  flex: 3;
  background-color: #ffffff;
  
}
    
    /* Style the footer */
footer {
  background-color: #3465b5;
  text-align: center;
  color: white;
  padding: 5px;
  border-radius: 25px;

}
    
.wrapper {
  max-width: 800px;
  padding: 20px;
  margin: 0 auto;
  border-radius: 25px;
}

.afb {
      max-width: 70%;
      height: auto;
      padding-bottom: 5%;
}

h1 {
  font-size: 230%;
  word-break: no;
  text-align: center;
}
        

a {
  color: #49ffcb;
}

.skewed {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #3465b5;
  z-index: -1;
  transform: skewY(6deg);
  transform-origin: top right;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #a0abbd;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
}

#myBtn:hover {
  background-color: #49ffcb;
}
