body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background-color: #b2ceff;
    padding: 10px;
}
    
    /* Style the header */
header {
  font-family: 'Roboto Slab', sans-serif;
  padding: 5px;
  text-align: center;
  font-size: 350%;
  color: white;
}

.topnav {
  font-family: 'Roboto';
  text-align: center;
  color: white;
  padding: 40px;
}
    
    /* Style the content */
section {
  -webkit-flex: 3;
  -ms-flex: 3;
  flex: 3;
  background-color: #ffffff;
  padding: 10px;
  
}
    
    /* Style the footer */
footer {
  background-color: #3465b5;
  text-align: center;
  color: white;

}
    
.wrapper {
  max-width: 800px;
  padding: 20px;
  margin: 0 auto;
}

.afb {
      max-width: 70%;
      height: auto;
      padding-bottom: 5%;
}

h1 {
  font-size: 280%;
  word-break: no;
}
        

a {
  color: #49ffcb;
}

.skewed {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 5px;
  width: 100%;
  height: 100%;
  background: #3465b5;
  z-index: -1;
  transform: skewY(6deg);
  transform-origin: top right;
}
