backend:
  name: git-gateway
  branch: master
media_folder: static/img

collections:
  - name: 'pages'
    label: 'Pages'
    files:
      - label: 'Home'
        name: 'home'
        file: 'index.html'
        fields:
          - { label: 'body', name: 'body', widget: 'markdown' }
